* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary-color: #000000;
    --secondary-color: #4CAF50;
    --third-color: #ffffff;
    --forth-color: rgb(107, 107, 107);
    --background-color: #ffffff;

}

body {
    font-family: Arial, sans-serif;
    width: 100vw;

}
.home {
    text-decoration: none;
    color: var(--primary-color);
}
.nome-restaurante {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 200;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.09);
    
}

.box-comida-container {
    padding: 10px;
    margin-top: 10px;
}

.comida-container {
    display: flex;
}

.image-food {
    margin-top: 40px;
    width: 700px;
    height: 500px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.09);
    border-radius: 10px;

}

.description {
    text-align: center;
    text-align: justify;
    margin-bottom: 50px;
    color: var(--forth-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.09);
    padding: 10px;
    border-radius: 10px;

}

.container-price-and-buy {
    padding: 0 20px 0 20px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.price-and-buy {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.price p {
    margin-bottom: 10px;
}

.nota-food {
    font-size: 15px;
    color: var(--forth-color);
}

.buy-food {
    margin-bottom: 20px;

    & button {
        background: var(--secondary-color);
        width: 150px;
        height: 40px;
        border-radius: 10px;
        border: none;
        outline: none;
        color: var(--third-color);
    }

    & button:hover {
        background-color: #5dd661;
    }
}

@media screen and (max-width: 768px) {

    .box-comida-container {
        padding: 0px;
        margin-top: 0px;
    }

    .image-food {
        width: 100vw;
        height: 300px;
        margin-top: 0;
        margin-bottom: 20px;
        border-radius: 0;
    }

    .comida-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0px;
    }



}