* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:#000000;
    --secondary-color:#4CAF50;
    --third-color:#ffffff;
    --forth-color:rgb(107, 107, 107);
    --background-color:#ffffff;

    
}
.dark-mode {
    --primary-color: #ffffff;
    --secondary-color: #4CAF50;
    --third-color: #000000;
    --background-color: linear-gradient(to left, #071608,
    /* Deep Violet */
    #001903,
    /* Electric Blue */
    #002523,
    /* Teal Glow */
    #00250a,
    /* Dark Magenta */
    #001c1c);
    background-size: 400% 100%;

}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.box-restaurante-continer {

}

.image-food {
    width: 168px;
    height: 100px;
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    color: var(--primary-color);
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}
h2 {
    margin-bottom: 20px;
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}

a {
    text-decoration: none;
}

.cardapio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px;

}
.grupo-item-cardapio {
    display: flex;
    gap: 20px;
}
.item-cardapio {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    

}
.item-cardapio:hover {
    scale: 1.05;
    transition: 0.2s linear;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.268);
}
.item-cardapio:not{
    scale: 1;
    transition: 0.2 linear;
}
.info-food {
    & h3 {
        color: var(--primary-color);
        font-weight: 500;
        font-size: 20px;
    }

    & p {
        color: var(--forth-color);
        font-size: 14px;
    }

}

.nota {
    color: var(--secondary-color);
}


.switch-theme {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: var(--third-color);
    transition: background-color 0.3s ease;
}

@media screen and (max-width: 768px) {
    .cardapio {
        grid-template-columns: 1fr;
    }
    .grupo-item-cardapio {
        flex-direction: column;
        align-items: center;
    }
    .item-cardapio {
        display: flex;
        width: 100vw;
        flex-direction: row;
    }
    .image-food {
        width:168px;
        height: 100px;
        height: auto;
    }
    
}