* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:#000000;
    --secondary-color:#4CAF50;
    --third-color:#ffffff;
    --forth-color:rgb(107, 107, 107);
    --background-color:#ffffff;

    
}

body{
    font-family: Arial, sans-serif;
}
.home {
    text-decoration: none;
    color: var(--primary-color);
}
h1 {
    text-align: center;
    font-weight: 500;
    margin-top: 20px;
}

.box-carrinho-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.carrinho-container {
    margin: 20px;
}

h2 {
    margin-bottom: 60px;
}

.entrega {
    margin-bottom: 30px;
    width: 70px;
    border-bottom: 3px solid var(--secondary-color);
}

.adress {
    margin-bottom: 20px;
}

.street {

}
.city {
    color: var(--forth-color);
    font-size: 12px;
    margin-bottom: 30px;
}

.time-to-delivery {
    font-weight: 500;
    margin-bottom: 10px;
}

.time-and-price {
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 10px;

    & .parttens {
        color: var(--secondary-color);
        font-size: 13px;
        margin-bottom: 5px;
    }
    & .delivery {
        color: var(--forth-color);
        font-size: 13px;
        margin-bottom: 5px;
    }
    & .price {
        font-weight: 100;
        font-size: 14px;
    }
}

.pedido-container {
    padding: 20px;
    width: 300px;
}
.your-pedido {
    margin-top: 30px;
    margin-bottom: 10px;
    color:var(--forth-color);
    font-size: 13px;
    font-weight: 100;
    width: 100vw;
}

.pedido {
    font-weight: 500;
    margin-bottom: 30px;
}

.sub-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.taxa-de-entrega {
    display: flex;
    justify-content: space-between;
        margin-bottom: 20px;

}
.total {
    display: flex;
    justify-content: space-between;
        margin-bottom: 20px;

}


@media screen and (max-width: 768px) {
    .box-carrinho-container {
        flex-direction: column;
        
    }
    .pedido-container {
        width: 100vw;
    }
    
}