@font-face {
    font-family: 'ifood';
    src: url(../assets/font/iFoodRCTextos-Bold.ttf) format('truetype');
}

:root {
    --primary-color: #000000;
    --secondary-color: #4CAF50;
    --third-color: #ffffff;
    --forth-color: rgb(107, 107, 107);
    --background-color: #ffffff;
    --font: 'ifood', sans-serif;
}

body.dark-mode {
    --primary-color: #ffffff;
    --secondary-color: #4CAF50;
    --third-color: #000000;
    --forth-color: rgb(200, 200, 200);
    --background-color: #131B23;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: var(--font), Arial, sans-serif;
    width: 100vw;
    min-height: 100vh;
}

header .home {
    text-decoration: none;
    color: var(--primary-color);
}

.nome-restaurante {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.09);
}

.box-comida-container {
    padding: 20px;
}

.comida-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.imagem-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image-food {
    width: 100%;
    max-width: 700px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.09);
}

.container-price-and-buy {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
}

.nome-food {
    font-size: 28px;
    text-align: center;
}

.description,
.ingredients {
    background-color: var(--background-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.09);
    color: var(--forth-color);
}

.description p {
    text-align: justify;
}

.ingredients ul {
    padding-left: 20px;
}

.price-and-buy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}

.price p {
    margin-bottom: 8px;
}

.nota-food {
    font-size: 14px;
    color: var(--forth-color);
}

.comprar-comida {
    background-color: var(--secondary-color);
    color: var(--third-color);
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comprar-comida:hover {
    background-color: #5dd661;
}



footer {
    text-align: center;
    padding: 10px;
    color: var(--forth-color);
    background-color: transparent;
}

/* Responsivo */
@media screen and (max-width: 768px) {
    .comida-container {
        flex-direction: column;
        align-items: center;
    }

    .price-and-buy {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .image-food {
        width: 90%;
    }

    .container-price-and-buy {
        width: 90%;
    }
}
