<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navBar.css">
    <title>Perfil do Usuário</title>
    <link rel="stylesheet" href="../css/perfilDoUsuario.css">
</head>

<body class="light">
    <nav class="navbar">
        <div class="logo">
            <a href="./restaurante.html">printf(food.exe)</a>
        </div>
        <div class="hamburger" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <ul class="nav-links">
            <li><a href="./restaurante.html">Home</a></li>
            <li class="dropdown">
                <a href="#">Cardápio ▾</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Pratos</a></li>
                    <li><a href="#bebidas">Bebidas</a></li>
                    <li><a href="#sobremesas">Sobremesas</a></li>
                </ul>
            </li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Carrinho 🛒</a></li>
            <li><a href="perfilDoUsuario.html">Perfil 👤</a></li>
        </ul>
        <button class="switch-theme" onclick="toggleDarkMode()">🌙</button>
    </nav>

    <div class="profile-container" id="profile-container">
        <div class="profile-picture" style="background-image: url('../assets/user.png');"></div>
        <h1>Perfil do Usuário</h1>

        <div class="profile-info">
            <div class="info-item">
                <span>Nome:</span>
                <p class="nome-do-usuario" id="nome-do-usuario">Ruan Indhu</p>
            </div>
            <div class="info-item">
                <span>Email:</span>
                <p class="email-do-usuario">ruan@email.com</p>
            </div>
            <div class="info-item">
                <span>Idade:</span>
                <p class="idade-do-usuario">18</p>
            </div>
            <div class="info-item">
                <span>Endereço:</span>
                <p class="endereco-do-usuario">Rua Exemplo, 123 - Bairro - Cidade/Estado - CEP 00000-000</p>
            </div>
        </div>

        <div class="profile-buttons">
            <button id="editarPerfil">Editar Perfil</button>
            <a href="../index.html"><button onclick="deletarPerfil()">Deletar Perfil</button></a>
        </div>
    </div>
    <div id="editando-perfil">
        <label for="">Nome:</label>
        <input type="text" id="nome" placeholder="Nome" value="">
        <label for="">Email:</label>
        <input type="text" id="email" placeholder="Nome" value="">
        <label for="">Idade:</label>
        <input type="text" id="idade" placeholder="Nome" value="">






        <button id="salvar-edicao" onclick="salvarEdicao()">Salvar</button>
    </div>

    <script src="../js/darkMode.js"></script>
    <script src="../js/perfilDoUsuario.js"></script>
    <script src="../js/navBar.js"></script>
</body>

</html>